// color
$yellow: #f9b43b;
$red: #e45028;
$grey: #2f3234;
$white: #ffffff;
$orange: #e35028;

// fonts
@mixin title {
    font-family: Gagalin;
    font-size: 4.5rem;
    color: $yellow;
}
@mixin subtitle {
    font-family: lifehack;
    font-size: 4.5rem;
    color: $white;
}


// breakpoint
$laptop: 890px;
$tablets: 768px;
$phones: 480px;

@mixin laptop {
    @media(max-width:$laptop) {
        @content;
    }
}


@mixin tablets {
    @media (max-width:$tablets) {
        @content;
    }
}

@mixin phones {
    @media (max-width:$phones) {
        @content;
    }
}


// Циклы 
// align text in form 

// @each $var in form {
    
// }


// normilize
@import "css/layout/normilize.scss";


// layout
@import "css/layout/layout.scss";
@import "css/layout/fonts.scss";
@import "css/layout/media.scss";

// blocks
@import "css/block/hero.scss";
@import "css/block/header.scss";
@import "css/block/hamburger.scss";
@import "css/block/logo.scss";
@import "css/block/navigation.scss";
@import "css/block/button.scss";
@import "css/block/best.scss";
@import "css/block/burger.scss";
@import "css/block/consist.scss";
@import "css/block/dropdown.scss";
@import "css/block/calories.scss";
@import "css/block/arrow.scss";
@import "css/block/team.scss";
@import "css/block/menu.scss";
@import "css/block/menu_acco.scss";
@import "css/block/review.scss";
@import "css/block/work.scss";
@import "css/block/order.scss";
@import "css/block/form.scss";
@import "css/block/map.scss";
@import "css/block/footer.scss";
@import "css/block/adress.scss";
@import "css/block/socials.scss";
@import "css/block/overlay.scss";
@import "css/block/pagination.scss";

