.burger {
    background-image: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b);
    &__slider {
        overflow: hidden;
        width: rem(915px);
        display: flex;

    }
    &__content {
        display: flex;
        position: relative;
        will-change: right;
        transition: right 0.3s;
        min-width: 100%;
        @include tablets {
            align-items: center;
            width: 100%;
        }
     
    }
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        min-width: 100%;
        @include tablets {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__left {
        @include tablets {
        display: flex;
        justify-content: center;
        }
    }
    &__right, &__left {
        width: 50%;
        @include tablets {
            width: 100%;
        }
        // @include phones {
        //     width: 100%;
        // }
    }
    
    // &__img {
    //     text-align: center;
    // }
    &__pic {
        max-width: 100%;
    }
    
    &__desc {
        display: flex;
        flex-direction: column;
    }
    &__title {
        @include title;
        color: $white;
    }
    &__text {
        font-family: Ubuntu;
        font-size: rem(14px);
        font-weight: 300;
        color: $white;
    }
    &__order {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    &__price {
        @include title;
        color: $red;
        margin-right: rem(25px);
    }
    &__price--lower-size {
        font-size: rem(20px);
    }
}

@media (max-width: 768px) {
    .burger {
        

        &__desc {
            align-items: center;
            text-align: center;
            
        }
        &__title {
            font-size: rem(88px);
            margin-bottom: rem(92.8px);
        }
        &__text {
            width: 60%;
        }
    }
}

