.burger {
    background-image: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b);
    &__content {
        display: flex;
        height: rem(400px);
        align-items: center;
        position: relative;
    }

    &__right, &__left {
        width: 50%;
    }

    &__pic {
        max-width: 100%;
    }
    
    &__desc {
        display: flex;
        flex-direction: column;
    }
    &__title {
        @include title;
        color: $white;
    }
    &__text {
        font-family: Ubuntu;
        font-size: rem(14px);
        font-weight: 300;
        color: $white;
    }
    &__order {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    &__price {
        @include title;
        color: $red;
        padding-right: rem(50px);
    }
    &__price--lower-size {
        font-size: rem(20px);
    }
}

@media (max-width: 768px) {
    .burger {
        &__content {
            flex-direction: column;
            justify-content: center;
            height: inherit;
        }
        &__right, &__left {
            width: inherit
        }

        &__desc {
            align-items: center;
            text-align: center;
            
        }
        &__title {
            font-size: rem(88px);
            margin-bottom: rem(92.8px);
        }
        &__text {
            width: 60%;
        }
    }
}

