.burger {
    background-image: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b);
    &__content {
        display: flex;
        height: 400px;
        align-items: center;
        position: relative;
    }
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        
    }
    &__title {
        @include title;
        color: $white;
    }
    &__text {
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        color: $white;
    }
    &__order {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    &__price {
        @include title;
        color: $red;
        padding-right: 50px;
    }
}

.price-lower-size {
    font-size: 20px;
}


