.btn {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: $red;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}