.btn {
    border-radius: 0.3125rem;
    padding: 0.625rem 0.9375rem;
    background-color: $red;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 0.8125rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.btn--black {
    background-color: $grey;
    &-shadow-text {
        display: none;
    }
    @include phones {
        .btn--black-visible-text {
            display: none;
        }
        .btn--black-shadow-text {
            display: inline;
        } 
    }
}

.btn--without-bg {
    background-color: transparent;
    text-transform: capitalize;
}

.btn--with-margin {
    margin-right: rem(30px);
}

