.consist {
    position: absolute;
    bottom: 65%;
    background-color: #f08c33;
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: $orange;
    }
    &__img {
        max-width: 50%;
        margin-bottom: 6%;
    }

    &__text {
        font-family: Gagalin;
        font-size: 0.875rem;
        color: $white;
    }
    
    &:hover .dropdown__list {
        display: flex;
    }
}

@media (max-width: 768px) {
    .consist {
        bottom: 100%;
        right: 72%;
    }
}