.consist {
    position: absolute;
    bottom: 90%;
    &__img {
        background-color: #f08c33;
        display: flex;
        width: 5.625rem;
        height: 5.625rem;
        justify-content: center;
        border-radius: 0.3125rem;
        cursor: pointer;
        align-items: center;  
        &:hover {
            background-color: $orange;
        }
    }
    
    &:hover .dropdown__list {
        display: flex;
    }
}

@media (max-width: 768px) {
    .consist {
        bottom: 88%;
        right: 72%;
    }
}