.form {
    display: flex;
    margin: 0 3% 0 3%;
    @include tablets {
        flex-direction: column;
        margin: 0 20% 0 20%;
    }
    @include phones { 
        margin: 0 3% 0 3%;
    }
    &__col-left {
        flex: 1;
    }
    &__row {
        display: flex;
        margin-bottom: 1.1875rem;
    }

    &__input {
        margin-right: 1.4375rem;
        flex: 1;
        @include tablets {
            &:last-of-type{margin-right: 0;}
        }
    }
    &__name {
        font-family: Ubuntu;
        font-size: 0.875rem;
        font-weight: 300;
        color: $white;
        margin-bottom: 0.5625rem;
    }
    &__input-elem {
        border-radius: 0.3125rem;
        border: 0.125rem solid transparent;
        width: 100%;
        padding: 0.75rem 1.3125rem;
        resize: none;
        font-family: Ubuntu;
        &:focus {
            outline: none;
            border-color: $yellow;
        } 
    }
    &__col-right {
        flex: 1;
    }
    &__input--without-margin {
        margin-right: 0;
    }
    &__input-elem--allign {
        padding-bottom: 5.3125rem;
    }
    &__radio {
        display: inline-flex;
        margin-bottom: 1.4375rem;
        cursor: pointer;
    }
    &__input-radio {
        display: none;
    }
    &__input-radio:checked ~ .form__radio-visible::after {
        opacity: 1;
        transition: .5s;
    }
    &__radio-visible {
        width: 0.875rem;
        height: 0.875rem;
        background-color: $white;
        border-radius: 50%;
        position: relative;
        margin-right: 0.3125rem;
        &::after {
            content: "";
            width: 0.4375rem;
            height: 0.4375rem;
            background-color: $orange;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: .5s;
        }
    }
    &__name--radio {
        margin-right: 0.625rem;
    }
    &__checkbox {
        display: inline-flex;
        margin-bottom: rem(8px);
        cursor: pointer;
        @include phones {
            display: flex;
            justify-content: center;
        }
    }
    &__input-check {
        display: none;
    }
    &__input-check:checked ~ &__check-visible {
        background: url(./picture/icons/check.png) center center / 70% no-repeat white;  
    }
    &__check-visible {
        width: 0.9375rem;
        height: 0.9375rem;
        background-color: $white;
        margin-right: 0.625rem; 
    }

}

@include phones {
    
    .form__controlls, .form__btn {
        display: flex;
        justify-content: center;
    }
}