.hamburger {
    display: none;
    width: rem(25px);
    height: rem(4px);
    background: $white;
    position: relative;
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    margin-left: rem(30px);
    border-radius: rem(5px);
    z-index: 1;
    cursor: pointer;
    &::after {
        content: "";
        width: rem(25px);
        height: rem(4px);
        background: $white;
        position: absolute;
        top: 100%;
        margin-top: rem(5px);
        border-radius: rem(5px);
        transition: .5s;
    }
    &::before {
        content: "";
        width: rem(25px);
        height: rem(4px);
        background: $white;
        position: absolute;
        bottom: 100%;
        margin-bottom: rem(5px);
        border-radius: rem(5px); 
        transition: .5s;
    }
    &:active {
        height: 0;
    }
    &:active::before {
        margin-bottom: 0;
        transform: rotate(135deg);
        top: 0;
        transition: .5s;
        
    }
    &:active::after {
        margin-top: 0;
        transform: rotate(45deg);
        top: 0;
        transition: .5s;
    }  
}

@media (max-width:768px) {
    .hamburger {display: flex;}
}
