
.header {
    display: flex;
    align-items: center;
    margin: 2% 2%;

    &__col-left {
        z-index: 2;
    }

    &__col-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }
}



    
    


