
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__col-left {
        z-index: 2;
        margin-left: 5rem;
    }

    &__col-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }
}



    
    


