.hero {
    background: url('./picture/img/section_hero.png') center center / cover no-repeat;
    &__container {
        display: flex;
        flex: 0.85;
        justify-content: center;
    }
    
    &__content {
        display: flex;
        align-items: center;
    }
    &__pic {
        width: 28.1875rem;
    }
    &__img {
        max-width: 100%;
    }
        
    &-title {
            @include title;
            margin-bottom: 1.25rem;
    }

    &__subtitle {
        @include subtitle;
    }
    
}

@media (max-width:768px) {
    .hero {
        position: relative;
        
        &__content {
            flex-direction: column;
        }
        &__text {
            text-align: center;
        }
    }
    
}