.menu-acco {
    display: flex;
    // flex-direction: column;
    // align-items: stretch;
    // @include phones {
    //     position: relative;
    // }
    &__item {
        display: flex;
        justify-content: flex-end;
        
    }
    &__item--active {
        @include tablets {
            // position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .menu-acco__link-text {
            color: $yellow;
            
        }
        .menu-acco__content {
            width: rem(450px);
            padding: 10% 5%;
            opacity: 1;
            height: 100%;
            transition: .5s;
            @include tablets {
                // width: 100%;
                width: 38rem;
                transition: .7s;
            }
            @include phones {
                // width: 100%;
                width: 33rem;
                padding: 20% 11%;
                // width: 90%;
                // position: fixed;
                // top: 400%;
                // left: 10%;
                // bottom: 0%;
                // right: 0%;
            }
        }
        .menu-acco__text {
            opacity: 1;
            transition: 1s;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease;
            transition-delay: .31s;
            @include tablets {
                transition-delay: .51s;
            }
        }
       
    }
    // &__hidden-2 {}
    // &__hidden-3 {}
    &__link {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;
        
    }
    &__link-text {
        @include title;
        color: $white;
        font-size: rem(40px);
        position: absolute;
        transform: translate(70%, -200%) rotate(270deg);
        width: rem(270px);
        right: 115%;
        bottom: 100px;
    }
    &__content {
        z-index: 1;
        height: 100%;
        background: rgba(47, 50, 52, 0.93);
        overflow: hidden;
        width: 0;
        font-size: 14px;
        font-family: "Ubuntu";
        width: 0;
        padding: 0;
        transition: .5s;
        position: relative;
        @include phones {
            // opacity: 0;
            // height: 0%;
            // overflow: hidden;
            // transition: opacity .5s;
            &::after {
                content: "";
                background: url(/picture/img/close_grey.png);
                width: 2rem;
                height: 2rem;
                display: inline-block;
                cursor: pointer;
                position: absolute;
                left: 88%;
                top: 5%;
            }
        }
    }
    &__text {
        font-size: rem(14px);
        color: $white;
        opacity: 0;
        transition: .1s;
    }
}  




