.navigation {
    margin-right: 0.9375rem;
    
    &__list {
        display: flex;
    }
    
    &__item:last-child .navigation__link::after {
        display: none;
    }
    
    &__link {
        font-family: Ubuntu;
        font-size: 0.8125rem;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    
        &::after {
            content:"";
            width: 0.25rem;
            height: 0.25rem;
            display: block;
            border-radius: 50%;
            background: $white;
            margin: 0 0.625rem;
        }
    }
}

@media (max-width:768px) {
    .navigation {
        position: absolute;
        background: rgba(47, 50, 52, 0.98);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
        margin-right: 0;
        z-index: 1;
        height: 0;
        transition: 1s;
        &--active {
            display: flex;
            height: 100%;
            transition: 1s;
        }
        
        &__list {
            flex-direction: column;
        }
        &__item {
            margin-bottom: 0;
        }
        &__link {
            font-size: 1.4375rem;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__link::after {
            width: 0.5rem;
            height: 0.5rem;
            margin: 1.875rem 0.625rem;
        }
    }
    
}
    
// .navigation--active {
//     display: flex;
// }

