.order {
    background: url('./picture/img/section_order.png') center center / cover no-repeat;
    &-title {
            @include title;
            text-align: center;
            margin-bottom: 2.8125rem;
    }
}

@media (max-width:480px) {
    .order {
        &-title {
            margin-right: 10%;
            margin-left: 10%;
        }
    }
    
}