.player {
    &__wrapper {
        position: relative;
        line-height: 0;
    }
    &__splash {
        background: url(/picture/img/video.png);
        background-position: 39% 30%;
        background-repeat: no-repeat;
        width: rem(660px);
        height: rem(409px);
        position: absolute;
        bottom: 0;
        cursor: pointer;

        &--active {
            display: none;
        }
        @include tablets {
            width: 55rem;
            height: 34rem;
        }
        @include phones {
            width: 35.1rem;
            height: 40.9rem;
            background-position: 43% 30%;
        }
        &-button {
            left: 50%;
            top: 40%;
            position: absolute;
            fill: white;
            opacity: .8;
            fill: white;
            transition: opacity .3s;
            &:hover {
                opacity: 1;
                transition: opacity .3s;
            }
            &-pic {
                width: rem(82px);
                height: rem(118px);
            }
        }
    }
    

    &__controlls {
        padding: rem(7px) rem(21px) rem(6px) rem(20px);
        background-color: #3e3e3e;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__start {
        background-image: url(/picture/icons/play.svg);
        width: rem(16px);
        height: rem(22px);
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;

        &--active {
            background-image: none;

            &::after {
                content: "";
                width: 0.3rem;
                height: rem(22px);
                background-color: #626262;
                position: absolute;
                border-radius: rem(10px);
            }

            &::before {
                content: "";
                width: 0.3rem;
                height: rem(22px);
                background-color: #626262;
                position: absolute;
                margin-left: rem(10px);
                border-radius: rem(10px);
            }
        }

    }

    &__duration {
        font-family: Ubuntu;
        font-size: 0.8125rem;
        font-weight: 500;
        color: $white;
        &-completed::after {
            content: ":";
            margin-left: rem(3px);
        }
    }

    &__playback {
        position: relative;
        width: rem(350px);
        height: rem(4px);
        padding: rem(3px) 0;
        cursor: pointer;
        border-radius: 10px;
        background-color: #626262;
        @include phones {
            width: rem(250px);
        }
    }

    &__playback-button {
        position: absolute;
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        top: rem(-4px);
        background: #626262;
        transition: .2s;
        // box-shadow: 0 0 5px #aaa;
        &:hover {
            box-shadow: 0 0 5px white;
            transition: .2s;
        }
    }

    &__mute {
        // background: url(/picture/icons/volume.svg);
        cursor: pointer;
        width: rem(18px);
        height: rem(22px); 
        &-button {
            width: rem(18px);
            height: rem(22px);
            fill: #626262;
            &-muted {
                fill: white;
            }
        }
    }
    
    &__volume {
        width: rem(58px);
        height: rem(4px);
        border-radius: rem(1px);
        background-color: #626262;
        position: relative;
        padding: rem(2px) 0;
        &-button {
            position: absolute;
            width: rem(13px);
            height: rem(13px);
            border-radius: 50%;
            top: rem(-4px);
            left: 100%;
            background: #626262;
            transition: .2s;
            &:hover {
                box-shadow: 0 0 5px white;
                transition: .2s;
            }
        }
    }
}

#yt-player {
    @include phones {
        width: 35.1rem ;
    }
}