.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible-slider {
    background: url('./picture/icons/arrow-scroll.svg') center center / 100% no-repeat;
    width: 1.875rem;
    height: 1.875rem;

}

.visible-slider--down {
    top: 90%;
    right: 50%;
  }
  
 
 .visible-slider--left {
   transform: rotate(90deg);
 }

 
 .visible-slider--right {
   transform: rotate(270deg);
 }
 

 @media (max-width: 768px) {
  .visible-slider--left {
    right: 90%;
  }
  .visible-slider--right {
    left: 90%;
  }
}