// .team {
//     background: url('./picture/img/section_team.png') 100% 100% /cover no-repeat;
//     &__content {
//         background-color: $grey;
//         opacity: 0.93;
//     }
// }
.team {
    display: flex;
    justify-content: flex-end;
    background: url('./picture/img/section_team.png') 100% 100% /cover no-repeat;
    &-title {
        @include title;
        text-align: center;
        margin: 3.625rem 0 2.875rem 0;   
    }
    &__content {
        width: 50%;
        padding-left: 9%;
        
    }
    &__item {
        margin-bottom: 2.1875rem;
    }
    &__dropdown {
        display: inline-flex;
        cursor: pointer;
        margin-bottom: 1.25rem;
        
    }
    &__button {
        cursor: pointer;
        margin-right: 0.625rem;
        &:focus  .team__dropdown-content {
            display: none;
        }
    }
    &__name {
        font-family: Gagalin;
        font-size: 0.875rem;
        font-weight: normal;
        color: $white;
    }
    &__dropdown-content {
        display: flex;
        align-items: center;
    }
    &__avatar {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.3125rem;
        display: flex;
        justify-content: center;
    }
    &__desc {
        flex-basis: 70%;
    }
    &__position {
        font-family: Ubuntu;
        font-size: 0.875rem;
        font-weight: 600;
        color: $white;
        text-align: left;
        margin-bottom: 1.5625rem;
    }
    &__text {
        font-family: Ubuntu;
        font-size: 0.875rem;
        font-weight: 300;
        color: $white;
        text-align: left;
    }
}

.team__button {
    display: none;
}

.visible-button {
    border: 0.375rem solid;
    border-color: $yellow transparent transparent transparent;
    width: 0;
    height: 0;
    margin-right: 0.625rem;
}
.team__button:focus ~ .visible-button {
    border-color: transparent transparent $yellow transparent
}
