.team {
    display: flex;
    justify-content: flex-end;
    background: url('./picture/img/section_team.png') 100% 100% /cover no-repeat;
    background-position: center;
    position: relative;
    &-title {
        @include title;
        margin-bottom: 12%;   
    }
    &__container {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 50%;
        background-color: rgba(#2f3234, $alpha: 0.9);
        padding: 5% 2% 0 9%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include tablets {
            left: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
    &__list {
        // padding-left: 33%;
        @include tablets {
            padding-left: 0;
        }

    }
    &__item {
        margin-bottom: rem(40px);
        &:last-child {
            margin-bottom: 0;
        }
        // &--active {
        //     .team__link {
        //         color: $yellow;
        //         &::before {
        //             transform: rotate(-180deg);
        //         }
        //     }
        //   .team__content {
        //       display: flex;
        //   }  
        // }
    }
    &__link {
        // display: block;
        color: $white;
        font-size: rem(14px);
        font-family: Gagalin;
        text-decoration: none;
        position: relative;
        margin-bottom: 1.25rem;
        z-index: 1;
        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            left: rem(-18px);
            top: rem(8px);
            width: 0;
            height: 0;
        }
        &::before {
            border-top: rem(7px) solid $yellow;
            border-left: rem(5px) solid transparent;
            border-right: rem(5px) solid transparent;
            border-bottom: rem(0px) solid transparent;
            transform: rotate(0deg);
            transition: .3s;
        }
        &::after {
            display: none;
            border-top: rem(7px) solid $yellow;
            border-left: rem(5px) solid transparent;
            border-right: rem(5px) solid transparent;
            border-bottom: rem(0px) solid transparent;
        }
        &--active {
            
                color: $yellow;
                &::before {
                    transform: rotate(-180deg);
                }
            
          & ~ .team__content {
            //   display: flex;
            //   align-items: center;
            opacity: 1;
            transition: .5s;
            height: initial;
          }  
        }
        @include tablets {
            display: inline-flex;            
        }
    }
    &__content {
        padding-top: rem(14px);
        // display: none;
        display: flex;
        align-items: center;
        opacity: 0;
        // transition: .1s;
        height: 0;
        @include tablets {
            flex-direction: column;
            align-items: center;
        } 
    }
    &__avatar {
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        // width: 30%;
        margin-right: rem(9px);
        @include tablets {
            margin-bottom: rem(22px);
        }
    }
    &__pic {
        max-width: 100%;
    }
    &__desc {
        // width: 70%;
        width: 47%;
    }
    &__position {
        font-family: Ubuntu;
        font-size: 0.875rem;
        font-weight: 600;
        color: $white;
        margin-bottom: rem(14px);
    }
    &__text {
        font-family: Ubuntu;
        font-size: 0.875rem;
        font-weight: 300;
        color: $white;
    }  
    
}