.work {
    background: url('./picture/img/section_work.png') 100% 100% /cover no-repeat;
    
    &-title {
        text-align: center;
        @include title;
        color: $grey;
        margin-bottom: 15%;
        margin-top: 7%;
        
    }
}